@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 95vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    background: url('../imagens/frame-iphone.png') no-repeat;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;

    width: 267px;
    height: 471px;

    background-size: cover;
}

section#botoes img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.575);
    box-sizing: border-box;
}

section#botoes img:hover {
    border: 2px solid white;
    transform: translate(-5px, -5px);
    transition: transform .4s;
}

section#botoes a{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 50px;

}